<app-pipes></app-pipes>
<app-payment-form></app-payment-form>



<header>
  <nav class="navbar navbar-expand-sm  navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">WHO WE
              ARE</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">About Us</a></li>
              <li><a class="dropdown-item" href="#">Guiding Principles</a></li>
              <li><a class="dropdown-item" href="#">Objetives</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">WHAT WE
              DO</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Health</a></li>
              <li><a class="dropdown-item" href="#">Education</a></li>
              <li><a class="dropdown-item" href="#">Poverty</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">RESOURCES</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">GALLERY</a></li>
              <li><a class="dropdown-item" href="#">ANNUAL REPORTS</a></li>
              <li><a class="dropdown-item" href="#">PUBLICATION</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">GET
              INVOLVED</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">JOIN US</a></li>
              <li><a class="dropdown-item" href="#">DONATE</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
          <li class="nav-item">
            <button class='btn orange'>DONATE</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="top-section">


  <!-- CAROUSEL  -->
  <div id="banner" class="carousel " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#banner" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#banner" data-bs-slide-to="2"></button>
    </div>


    <!-- The slideshow/carousel -->
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="https://www.hwcindia.org/assets/images/banner/poverty.jpg" alt="Los Angeles"
          class="d-block bg-dark w-100" style="height: auto;">
      </div>
      <div class="carousel-item">
        <img src="https://www.hwcindia.org/assets/images/banner/education.jpg" alt="Chicago" class="d-block w-100"
          style="height:auto;">
      </div>
      <div class="carousel-item">
        <img src="https://www.hwcindia.org/assets/images/banner/disaster-response.jpg" alt="New York"
          class="d-block w-100" style="height:auto;">
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <div class="container-fluid hwchead  fade-in-text ">
    <div class="row text-center mt-2">
      <h1 class="mt-5 h3head " id="heading1">
        Marching Towards a Just, Equitable, Humane and Sustainable Society
      </h1>

      <h1 class="mt-5 blue f2">HUMANITY WELFARE COUNCIL</h1>

      <div class="intro d-block mx-auto mb-5">
        <h5><b>HUMANITY WELFARE COUNCIL (HWC)</b> is a non-profit, philanthropic organization that has been
          working
          since
          2017 to develop India for a promising and sustainable future for its citizens. HWC symbolizes
          humanitarianism and embodies the prodigious force advancing new social and economic development
          frontiers....<span class="orangetext">Read More</span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card text-center m-2">
          <div class="cardnum blue">
            <h1><span class="count">150</span>+</h1>
          </div>
          <div class="cardbody">
            <h4><b>Critically-ill lives treated through medical care & support</b></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center m-2">
          <div class="cardnum blue ">
            <h1><span class="count">60000</span>+</h1>
          </div>
          <div class="cardbody ">
            <h4><b>Critically-ill lives treated through medical care & support</b></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center m-2">
          <div class="cardnum blue ">
            <h1><span class="count">4500</span>+</h1>
          </div>
          <div class="cardbody ">
            <h4><b>Critically-ill lives treated through medical care & support</b></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center m-2">
          <div class="cardnum blue ">
            <h1><span class="count">45000</span>+</h1>
          </div>
          <div class="cardbody">
            <h4><b>Critically-ill lives treated through medical care & support</b></h4>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>


<section class="ourreach mt-5">
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-lg-6">
      <div class="our-reach">
        <div class="body">
          <h3 class="h3head">OUR REACH</h3>
          <p>
            We endeavour to empower communities by enhancing individual potential, and leadership along
            with mutual support and collaborative actions.
          </p>
        </div>

        <ul>
          <li>
            <div class="row text-center">
              <div class="col-lg-6  p-1">
                <h1 class="count"><b>28</b></h1>
              </div>
              <div class="col-lg-6  mt-3">
                <h3><b>States and 8 UTs</b></h3>
              </div>
            </div>
          </li>
          <li>
            <div class="row text-center">
              <div class="col-lg-6  p-12">
                <h1><b><span class="count">290</span>+</b></h1>
              </div>
              <div class="col-lg-6  mt-3">
                <h3><b>Districts</b></h3>
              </div>
            </div>
          </li>
          <li>
            <div class="row text-center">
              <div class="col-lg-6  p-1">
                <h1><b><span class="count">30000</span>+</b></h1>
              </div>
              <div class="col-lg-6  mt-3">
                <h3><b>Supporters</b></h3>
              </div>
            </div>
          </li>
        </ul>
      </div>


    </div>
    <div class="col-lg-6">
      <div class="ourreachimg">
        <img src="https://www.hwcindia.org/assets/images/pages/w_ids.webp" width="100%">
      </div>

    </div>
  </div>

</section>


<section class="projects p-5">
  <div class="container-fluid">
    <div class="heading text-center">
      <h3 class="h3head"><b>HWC Projects</b></h3>
      <h5 class=" mt-5">Our vision is to transform India into a self-reliant nation with a strong social
        fabric. Through our major projects, we strive to empower and uplift the marginalized sections of
        society</h5>
    </div>
    <div class="body">
      <div class="row p-5">
        <div class="col-lg-6">
          <div class="card m-3">
            <div class="cardimg">
              <figure><img src="https://www.hwcindia.org/assets/images/official-project/pgc-charity.webp" width="100%">
              </figure>
              <figcaption>
                <h5 class="blue"><b>PROJECT GLOBAL CURE</b></h5>
              </figcaption>
            </div>
            <div class="cardbody">
              <p>A healthy human is the most helpful resource for a nation. Project Global Cure (PGC)
                is a Humanity Welfare Council initiative that believes equity of access to primary
                healthcare for vulnerable populations is mandatory if a nation aspires for holistic
                growth. Therefore, we are committed to providing access to primary and modern
                healthcare facilities affordable to every individual. PGC is committed to ensuring
                that everyone, everywhere, can realize the right to good health...</p>
            </div>
            <div class="readmore">
              <p class="orangetext"><u><b>READ MORE</b></u></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card m-3">
            <div class="cardimg">
              <figure><img src="https://www.hwcindia.org/assets/images/official-project/pgc-charity.webp" width="100%">
              </figure>
              <figcaption>
                <h5 class="blue"><b>PROJECT GLOBAL CURE</b></h5>
              </figcaption>
            </div>
            <div class="cardbody">
              <p>A healthy human is the most helpful resource for a nation. Project Global Cure (PGC)
                is a Humanity Welfare Council initiative that believes equity of access to primary
                healthcare for vulnerable populations is mandatory if a nation aspires for holistic
                growth. Therefore, we are committed to providing access to primary and modern
                healthcare facilities affordable to every individual. PGC is committed to ensuring
                that everyone, everywhere, can realize the right to good health...</p>
            </div>
            <div class="readmore">
              <p class="orangetext"><u><b>READ MORE</b></u></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card m-3">
            <div class="cardimg">
              <figure><img src="https://www.hwcindia.org/assets/images/official-project/pgc-charity.webp" width="100%">
              </figure>
              <figcaption>
                <h5 class="blue"><b>PROJECT GLOBAL CURE</b></h5>
              </figcaption>
            </div>
            <div class="cardbody">
              <p>A healthy human is the most helpful resource for a nation. Project Global Cure (PGC)
                is a Humanity Welfare Council initiative that believes equity of access to primary
                healthcare for vulnerable populations is mandatory if a nation aspires for holistic
                growth. Therefore, we are committed to providing access to primary and modern
                healthcare facilities affordable to every individual. PGC is committed to ensuring
                that everyone, everywhere, can realize the right to good health...</p>
            </div>
            <div class="readmore">
              <p class="orangetext"><u><b>READ MORE</b></u></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card m-3">
            <div class="cardimg">
              <figure><img src="https://www.hwcindia.org/assets/images/official-project/pgc-charity.webp" width="100%">
              </figure>
              <figcaption>
                <h5 class="blue"><b>PROJECT GLOBAL CURE</b></h5>
              </figcaption>
            </div>
            <div class="cardbody">
              <p>A healthy human is the most helpful resource for a nation. Project Global Cure (PGC)
                is a Humanity Welfare Council initiative that believes equity of access to primary
                healthcare for vulnerable populations is mandatory if a nation aspires for holistic
                growth. Therefore, we are committed to providing access to primary and modern
                healthcare facilities affordable to every individual. PGC is committed to ensuring
                that everyone, everywhere, can realize the right to good health...</p>
            </div>
            <div class="readmore">
              <p class="orangetext"><u><b>READ MORE</b></u></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card m-3">
            <div class="cardimg">
              <figure><img src="https://www.hwcindia.org/assets/images/official-project/pgc-charity.webp" width="100%">
              </figure>
              <figcaption>
                <h5 class="blue"><b>PROJECT GLOBAL CURE</b></h5>
              </figcaption>
            </div>
            <div class="cardbody">
              <p>A healthy human is the most helpful resource for a nation. Project Global Cure (PGC)
                is a Humanity Welfare Council initiative that believes equity of access to primary
                healthcare for vulnerable populations is mandatory if a nation aspires for holistic
                growth. Therefore, we are committed to providing access to primary and modern
                healthcare facilities affordable to every individual. PGC is committed to ensuring
                that everyone, everywhere, can realize the right to good health...</p>
            </div>
            <div class="readmore">
              <p class="orangetext"><u><b>READ MORE</b></u></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card m-3">
            <div class="cardimg">
              <figure><img src="https://www.hwcindia.org/assets/images/official-project/pgc-charity.webp" width="100%">
              </figure>
              <figcaption>
                <h5 class="blue"><b>PROJECT GLOBAL CURE</b></h5>
              </figcaption>
            </div>
            <div class="cardbody">
              <p>A healthy human is the most helpful resource for a nation. Project Global Cure (PGC)
                is a Humanity Welfare Council initiative that believes equity of access to primary
                healthcare for vulnerable populations is mandatory if a nation aspires for holistic
                growth. Therefore, we are committed to providing access to primary and modern
                healthcare facilities affordable to every individual. PGC is committed to ensuring
                that everyone, everywhere, can realize the right to good health...</p>
            </div>
            <div class="readmore">
              <p class="orangetext"><u><b>READ MORE</b></u></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



<section class="wedo2">
  <div class="container-fluid">
    <div class="row">
      <div class="left-wedo pb-1">
        <div class="body">
          <h3><b>WHAT WE DO</b></h3>
          <p class="mt-4">
            The Humanity Welfare Council is a development organization working to empower the most
            marginalized communities in India. The main thrust of our organization is to safeguard the
            economic and social rights of all people living in India. Through our value-based partnerships
            with competent individuals and government bodies, international agencies, and private sector
            organizations, we aim to create a self-sustaining and collaborative ecosystem for the
            development of society that collectively works across geographies.
          </p>
        </div>
      </div>
      <div class="right-wedo">
        <img src="https://www.hwcindia.org/assets/images/what-we-do/1.webp">
      </div>

    </div>
    <!-- <div class="owl-item ng-tns-c54-0 ng-trigger ng-trigger-autoHeight ng-star-inserted cloned" style="width: 839px;"><div _ngcontent-serverapp-c56="" class="item ng-star-inserted" style=""><img _ngcontent-serverapp-c56="" alt="What we do" class="img-fluid" src="./assets/images/what-we-do/1.webp"></div></div> -->
  </div>
</section>



<!-- NEWS -->

<section class="news p-5">
    <div class="container-fluid">
        <div class="heading">
          <h2 class="text-center"><b>Latest News</b></h2>
          <button class="btn btn-right orange">VIEW ALL</button>
        </div>
        <div class='newspost'>
            <div class='row p-5'>
              
              <!-- <div class="col-lg-4">
                <div class="blog-card m-2">
                  <div class="blogimg">
                    <figure>
                      <img
                        src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                        width="100%">
                    </figure>
                    <figcaption>By : <span class="blue">Humanity
                        Welfare Council</span></figcaption>
                  </div>
                  <div class="blogbody">
                    <div class="head">
                      <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
                    </div>
                    <div class="text">
                      <h5>When the pandemic struck, school education in rural India struggled to keep up
                        with its urban counterparts. Overnight, schools were forced t...</h5>
                    </div>
                    <span class="orangetext"><b><u>KNOW MORE</u></b></span>
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="blog-card m-2">
                  <div class="blogimg">
                    <figure>
                      <img
                        src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                        width="100%">
                    </figure>
                    <figcaption>By : <span class="blue">Humanity
                        Welfare Council</span></figcaption>
                  </div>
                  <div class="blogbody">
                    <div class="head">
                      <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
                    </div>
                    <div class="text">
                      <h5>When the pandemic struck, school education in rural India struggled to keep up
                        with its urban counterparts. Overnight, schools were forced t...</h5>
                    </div>
                    <span class="orangetext"><b><u>KNOW MORE</u></b></span>
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="blog-card m-2">
                  <div class="blogimg">
                    <figure>
                      <img
                        src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                        width="100%">
                    </figure>
                    <figcaption>By : <span class="blue">Humanity
                        Welfare Council</span></figcaption>
                  </div>
                  <div class="blogbody">
                    <div class="head">
                      <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
                    </div>
                    <div class="text">
                      <h5>When the pandemic struck, school education in rural India struggled to keep up
                        with its urban counterparts. Overnight, schools were forced t...</h5>
                    </div>
                    <span class="orangetext"><b><u>KNOW MORE</u></b></span>
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="blog-card m-2">
                  <div class="blogimg">
                    <figure>
                      <img
                        src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                        width="100%">
                    </figure>
                    <figcaption>By : <span class="blue">Humanity
                        Welfare Council</span></figcaption>
                  </div>
                  <div class="blogbody">
                    <div class="head">
                      <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
                    </div>
                    <div class="text">
                      <h5>When the pandemic struck, school education in rural India struggled to keep up
                        with its urban counterparts. Overnight, schools were forced t...</h5>
                    </div>
                    <span class="orangetext"><b><u>KNOW MORE</u></b></span>
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="blog-card m-2">
                  <div class="blogimg">
                    <figure>
                      <img
                        src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                        width="100%">
                    </figure>
                    <figcaption>By : <span class="blue">Humanity
                        Welfare Council</span></figcaption>
                  </div>
                  <div class="blogbody">
                    <div class="head">
                      <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
                    </div>
                    <div class="text">
                      <h5>When the pandemic struck, school education in rural India struggled to keep up
                        with its urban counterparts. Overnight, schools were forced t...</h5>
                    </div>
                    <span class="orangetext"><b><u>KNOW MORE</u></b></span>
                  </div>

                </div>
              </div> -->
            </div>

        </div>
    </div>
</section> -->



<!-- BLOS -->
<section class="blogs">
  <div class="container-fluid ">
    <div class="heading">
      <h2 class="text-center"><b>OUR BLOGS</b></h2>
      <button class="btn btn-right orange">VIEW ALL</button>
    </div>
    <div class="row mt-5">
      <div class="col-lg-9">
        <img
          src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/694ba764-e1e9-4438-b1e3-04e09311728c/HWC-green-chameleon-s9CC2SKySJM-unsplash.jpg"
          width="100%">
      </div>
      <div class="col-lg-3">
        <div class="head">
          <h2><b>Does A Cup of Coffee Give You More Kick Than Happy
              Ideas?</b></h2>
        </div>
        <div class="text">
          <p>
            A terrible day isn't better with coffee than a good
            day with happy ideas! Coffee may be consumed for a
            variety of reasons, but beginning the day with
            prayers, optimism, and hope provides us a fresh
            start and another chance to shake off the blahs,
            overcome our boredom, and accomplish our objectives.
            Some people have a propensity to over-caffeinate in
            the morning, feeling a rush with the first sip o...
          </p>
          <span class="orangetext"><b><u>Read More...</u></b></span>
        </div>
      </div>
    </div>
    <div class="blogpost">
      <div class="row">
        <div class="col-lg-4">
          <div class="blog-card mt-5">
            <div class="blogimg">
              <figure>
                <img
                  src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                  width="100%">
              </figure>
              <figcaption>By : <span class="blue">Humanity
                  Welfare Council</span></figcaption>
            </div>
            <div class="blogbody">
              <div class="head">
                <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
              </div>
              <div class="text">
                <h5>When the pandemic struck, school education in rural India struggled to keep up
                  with its urban counterparts. Overnight, schools were forced t...</h5>
              </div>
              <span class="orangetext"><b><u>READ MORE</u></b></span>
            </div>

          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog-card mt-5">
            <div class="blogimg">
              <figure>
                <img
                  src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                  width="100%">
              </figure>
              <figcaption>By : <span class="blue">Humanity
                  Welfare Council</span></figcaption>
            </div>
            <div class="blogbody">
              <div class="head">
                <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
              </div>
              <div class="text">
                <h5>When the pandemic struck, school education in rural India struggled to keep up
                  with its urban counterparts. Overnight, schools were forced t...</h5>
              </div>
              <span class="orangetext"><b><u>READ MORE</u></b></span>
            </div>

          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog-card mt-5">
            <div class="blogimg">
              <figure>
                <img
                  src="https://hwc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/blogs/54c8b7f0-bca0-41ee-a4fc-5e27947a1642/HWC-glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
                  width="100%">
              </figure>
              <figcaption>By : <span class="blue">Humanity
                  Welfare Council</span></figcaption>
            </div>
            <div class="blogbody">
              <div class="head">
                <h4><b>How Is Digitization Shaping the Future of Education in Rural India?</b></h4>
              </div>
              <div class="text ">
                <h5>When the pandemic struck, school education in rural India struggled to keep up
                  with its urban counterparts. Overnight, schools were forced t...</h5>
              </div>
              <span class="orangetext"><b><u>READ MORE</u></b></span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="videos p-5">
  <div class="container-fluid">
    <div class="heading videos">
      <div class="row p-5 ">
        <div class="heading">
          <h2 class="text-center"><b>Latest Videos</b></h2>
          <button class="btn btn-right orange" type="button">VIEW
            ALL</button>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 mt-5">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/EMoMhS9o27E"
            title="Women struggle with sanitization and Safety" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                      encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 mt-5">
          <div class="row">
            <div class="col-lg-7">
              <iframe src="https://www.youtube.com/embed/ncgj99rtmos" style="width: 100%; height:200px"></iframe>
            </div>
            <div class="col-lg-5">
              <p>Posted on: <span class="blue"><b>14 June 2022</b></span></p>
              <h4><b>Invest in Our Planet: Happy Earth Day!</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <iframe src="https://www.youtube.com/embed/ncgj99rtmos" style="width: 100%; height:200px"></iframe>
            </div>
            <div class="col-lg-5">
              <p>Posted on: <span class="blue"><b>14 June 2022</b></span></p>
              <h4><b>Invest in Our Planet: Happy Earth Day!</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <iframe src="https://www.youtube.com/embed/ncgj99rtmos" style="width: 100%; height:200px"></iframe>
            </div>
            <div class="col-lg-5">
              <p>Posted on: <span class="blue"><b>14 June 2022</b></span></p>
              <h4><b>Invest in Our Planet: Happy Earth Day!</b></h4>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>



<!-- //FOOTER DONE  -->
<footer>
  <div class="footer">
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-lg-3">
          <h4>About Us</h4>
          <ul class="list-inline">
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">Our Vision</a></li>
            <li><a href="#">Guiding Principles</a></li>
            <li><a href="#">Objectives</a></li>
            <li><a href="#">Our Team</a></li>
          </ul>

        </div>

        <div class="col-lg-3">
          <h4>Updates</h4>
          <ul class="list-inline">
            <li><a href="#">Latest From HWC</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </div>

        <div class="col-lg-3">
          <h4>What We Do</h4>
          <ul class="list-inline">
            <li><a href="#">Health</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Poverty</a></li>
            <li><a href="#">Disaster Response</a></li>
            <li><a href="#">Animal Welfare</a></li>
            <li><a href="#">Environment Conservation</a></li>
          </ul>
        </div>

        <div class="col-lg-3">
          <h4>Resources</h4>
          <ul class="list-inline">
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Annual Reports</a></li>
            <li><a href="#">Tenders</a></li>
            <li><a href="#">Accountability and Transparency</a></li>
            <li><a href="#">AV Materials</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="logoinfo text-center">
    <div class="logo-footer mr-3">
      <div class="logoimg p-4">
        <img src="https://www.hwcindia.org/assets/images/logo/logo-footer.png" width="100%">
      </div>
      <div class="logo-text p-2">
        <h5>Humanity Welfare Council a Sec 8 Company Duly Registered
          With Ministry Of Corporate Affairs vides<br>
          CIN - U74999DL2017NPL325791 | CSR Registration -
          CSR00024938</h5>
      </div>
    </div>

    <div class="row">
      <div class="icons">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook-square fa-3x m-3"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter-square fa-3x m-3"></i>
            </a>
            <a href="#"><i class="fa fa-instagram fa-3x m-3"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin fa-3x m-3"></i>
            </a>
            <a href="#">
              <i class="fa fa-youtube fa-3x m-3"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>


  </div>

  <ul class="listinfo text-center p-3">

    <li><a href="#">Contact Us</a></li>
    <li class=""><a href="/join-us">MEMBERS</a></li>
    <li class=""><a href="/join-us">PRIVACY POLICY</a></li>
    <li class=""><a href="/join-us">TERMS AND CONDITION</a></li>
    <li class=""><a href="/join-us">REFUND AND CANCELLATION POLICY</a></li>
    <li class=""><a href="/join-us">VERIFY RECEIPT</a></li>
  </ul>


  <div class="copyright_section text-center">
    <p>Copyright <span>©</span> 2017-2021. <span class="text-info"><strong>Humanity Welfare
          Council.</strong></span> All rights reserved. Website designed by
      <a href="https://www.concientotech.com/" target="_blank" class="d-inline-flex text-info"><strong>Conciento Tech
          Limited</strong></a>
    </p>
  </div>
</footer>